@model Proj2Aalst_G3.Models.Domain.Blogpost

@{
    ViewData["Title"] = "Aanmaken";
}

<div class="container mt-3">
    <form asp-action="Create">
        <div class="row align-items-center">
            <div class="col-9">
                <h1>Aanmaken</h1>
                <h4>Blogpost</h4>
            </div>
            
            <div class="col-3 text-end">
                <div class="form-group">
                    <input type="submit" value="Aanmaken" class="btn btn-primary"/> |
                    <a asp-action="Index">Terug naar lijst</a>
                </div>
            </div>
            <hr/>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PublicationTime" class="control-label"></label>
                    <input asp-for="PublicationTime" class="form-control"/>
                    <span asp-validation-for="PublicationTime" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Text" class="control-label"></label>
                    <textarea asp-for="Text" class="form-control" rows="7"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}