@{
    ViewData["Title"] = "Tournaments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="row d-flex align-items-center">   
        <div class="col-10">
            <h1>Toernooien</h1>
        </div>
        @if (User.IsInRole("admin"))
        {
            <div class="col-2">
                <button type="submit" class="btn btn-primary" asp-action="Edit">
                    <i class="fas fa-plus"></i>
                    Tournament aanmaken
                </button>
            </div>
        }
    </div>
    <hr/>
    <div class="row pt-3 d-flex justify-content-center">
        @await Component.InvokeAsync("TournamentList", new { startRange = 0, endRange = 49 })
    </div>
</div>