@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging wachtwoord vergeten";
}

<h1>@ViewData["Title"]</h1>
<p>
    We hebben je een mail gestuurd om je wachtwoord te resetten.
</p>