@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bevestiging wachtwoordherstel";
}

<h1>Bevestiging wachtwoordreset</h1>
<p>
    Je wachtwoord is gereset. Gelieve <a asp-page="./Login">hier te klikken om in te loggen</a>.
</p>